<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.sergeev.oleg.apparchitecture">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Main">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"></category>
                <action android:name="Zapusk"></action>
            </intent-filter>

        </activity>

    </application>
</manifest>
